{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--The above three tags must come first in every bootstrap powered html page -->
    
    <!--bootstrap files -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <title>Classicman</title>

    <link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

</head>

<body style="background-color: #F5FFFA; margin-left: 0 aut">
<div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="navbar-brand"><strong>Classic|man</strong></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li><h3><strong>Hi {{ user.username }}!</strong></h3></li>
                        <li><a href="/accounts/Logout/">Logout</a></li>
                    {% else %}
                        <li><a href="/account/register">Register</a></li>
                        <li><a href="accounts/login">Login</a></li>
                    {% endif %}
                    <li><a href="/"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;Cart </a> 	</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" id="content">
        <div class="row">
            <div class="col-lg-2">
                <div class="sidebar-nav-fixed affix">
                    <div class="navbar-header">
                        <h3>choose Label</h3>
                    </div>
                        {% for item in label %}
                            <h4 class="text-center">{{ item.Labelname }}</h4>
                        {% endfor %}
                   <p></p>
	            </div>
            </div>

            <div class="col-lg-9">
            <!--slides start -->
                <div class="row">
                    <div id="banner">
                        <img src="{% static 'account/images/banner.jpg' %}" alt="banner image" class="img-responsive" style="height: 300px; width: 100%;">
                    </div>
                </div>   <!-- End of slidshow -->

                <div class="row">
                    <section>
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                            </div>
                        </div>

                        <div class="col-lg-8" >
                        <div class="panel-heading">
                            <h2 class="text-center">Recently Porpular Labels & items</h2>
                        </div>
                        {% for item in product %}
                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="thumbnail" style="height: 180px;">
                                        <img src="{{ item.image.url }}" alt="150x150" style="width: 150px; height: 150px; padding-top: 0;">
                                        <div class="caption"><h4 class="text-center">{{ item.Label }} - <a href="">View Detail</a></h4></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %} 
                        </div>                      
                    </section>
                </div>

                <div class="row">                    <!-- <hr> -->
                    <div class="col-lg-9">
                       <p>&copy right @ ClassicMan 2017</p>
                    </div>
                </div>

            </div>
        </div>
    </div>  <!--End of container -->


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>

















































































